### Task_4

In [1]:
import pandas as pd

In [2]:
authors_price = pd.read_csv('Authors_price.csv', sep =';')

In [65]:
price_agg_min = authors_price.groupby('author_name').agg({'price':'min'})

In [82]:
price_agg_min = price_agg_min.rename(columns={'price':'min_price'})

In [67]:
price_agg_max = authors_price.groupby('author_name').agg({'price':'max'})

In [83]:
price_agg_max = price_agg_max.rename(columns={'price':'max_price'})

In [84]:
price_agg_mean = authors_price.groupby('author_name').agg({'price':'mean'})

In [85]:
price_agg_mean = price_agg_mean.rename(columns={'price':'mean_price'})

In [86]:
authors_stat = pd.concat([price_agg_min, price_agg_max, price_agg_mean], axis=1, ignore_index=False)

In [87]:
authors_stat

             min_price  max_price  mean_price
author_name
Островский         290        370  330.000000
Тургенев           300        450  366.666667
Чехов              450        500  475.000000